body {
  padding: 0px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: white;
}

a {
  color: #00B7FF;
}
#table-wrapper {
  display: flex;

}
th {
  background-color: whitesmoke;
  padding: 0em;
  text-align: left;
  border: 1px solid black;
  padding: 0em;
  text-align: center;
}
td {
  background-color: white;
  border: 1px solid black;
  padding: 0em;
}

#desc {
  table-layout:fixed; 
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#des {
  table-layout:fixed; 
  width: 100%;
  border-collapse: collapse;
}

#tda {
  border: 1px solid white;
  padding: 1em;
}